.tabel {
    .cellwrapper {
        display: flex;
        align-items: center;

        .img {
            height: 32px;
            width: 32px;
            margin-right: 10px;
            border-radius: 50%;
            object-fit: cover;
        }

    }

    .tt {
        font-weight: bold;
        font-size: 15px;
        color: darkorange;

    }

    .status {
        padding: 5px;
        border-radius: 5px;

        &.Approved {
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
        }

        &.Pending {
            color: goldenrod;
            background-color: rgba(228, 228, 5, 0.336);
        }
    }
}