.navbar {
    border-bottom: 0.5px solid rgb(223, 222, 222);
    height: 57px;
    display: flex;
    align-items: center;
    color: rgb(122, 122, 122);
    font-size: 14px;

    .wrapper {
        display: flex;
        padding: 20px;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .search {
        display: flex;
        align-items: center;
        border: 0.5px solid lightgray;
        padding: 3px;

        input {
            border: none;
            outline: none;
            background-color: transparent;

            &::placeholder {
                font-size: 12px;
            }
        }
    }

    .items {
        display: flex;

        .item {
            display: flex;
            align-items: center;
            margin-right: 25px;
            position: relative;


            .icon {
                font-size: 22px;
            }

            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            .counter {

                width: 15px;
                height: 15x;
                background-color: red;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 10px;
                font-weight: bold;
                position: absolute;
                top: -3px;
                right: -3px;
            }
        }

    }
}